@font-face {
  font-family: Figtree;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local(''),
    url('/assets/fonts/figtree/Figtree-VariableFont_wght.ttf') format('ttf');
}

@font-face {
  font-family: 'Figtree Italic';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local(''),
    url('/assets/fonts/figtree/Figtree-Italic-VariableFont_wght.woff2') format('woff2');
}
