/* Source serif 700 with Georgia Bold as fallback for headlines*/
@font-face {
  font-family: 'Source Serif';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Source Serif'),
    url('/assets/fonts/source-serif/source-serif.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Serif Fallback';
  src: local('Georgia');
  ascent-override: 93.4918%;
  descent-override: 30.2314%;
  size-adjust: 110.8118%;
  /* https://screenspan.net/fallback */
  /* size-adjust: 118%;
  ascent-override: 103%;
  descent-override: 30%; */

}

/* Source sans with Arial as fallback for body text */
@font-face {
  font-family: 'Source Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 100 1000;
  src:
    local('Source Sans'),
    url('/assets/fonts/source-sans/source-sans.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Sans Fallback';
  src: local('Arial'), local('ArialMT');
  ascent-override: 109.2105%;
  descent-override: 42.6604%;
  line-gap-override: 0%;
  /* https://screenspan.net/fallback */
  /* size-adjust: 93.7639%;
  size-adjust: 93%;
  ascent-override: 106%;
  descent-override: 32%; */
}

@font-face {
  font-family: 'Source Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 100 1000;
  src:
    url('/assets/fonts/source-sans/source-sans-italic.woff2') format('woff2');
}

/* Source code pro with no fallback */
@font-face {
  font-family: 'Source Code Pro';
  font-display: swap;
  src:
    local('Source Code Pro'),
    url('/assets/fonts/source-code-pro/source-code-pro.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Code Pro Fallback';
  src: local('Courier New'), local('CourierNewPSMT');
  ascent-override: 98.416%;
  descent-override: 27.3044%;
  size-adjust: 99.9837%;
}