@font-face {
  font-family: 'Source Serif';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Source Serif'),
    url('/assets/fonts/source-serif/SourceSerif4-Bold-BasicLatin0020-007F-SVCHARS.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 100 1000;
  src:
    local('Source Sans'),
    url('/assets/fonts/source-sans/SourceSans3VF-Upright.otf-subset.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 100 1000;
  src:
    local('Source Sans'),
    url('/assets/fonts/source-sans/SourceSans3VF-Italic-BasicLatin-SVCHARS.woff2') format('woff2');
}