.logo {
  --gutter: var(--space-xs);
  /* hack var(--space-l) to get logo to line up with MENU */
  padding: var(--space-l) 0 var(--space-m) 0;
  font-size: var(--size-step-min-2);
  font-weight: var(--font-bold);
  /* letter-spacing: .1rem; */
  letter-spacing: var(--tracking-wide);
  text-decoration: none;
  text-transform: uppercase;
}

.logo svg {
  width: 1.15em;
  height: 1.2em;
  /* fill: var(--color-themecolordarkest); */
  fill: var(--color-themecolordark);
}