---
layout: base
schema: BlogPosting
---

<div class="region" style="--region-space-top: var(--space-xl-2xl)">
  <article class="wrapper flow prose h-entry">
    {% include 'partials/entry-header.njk' %}

    <p>In reply to <a class="u-in-reply-to" href="{{ inReplyTo }}">{{ inReplyTo }}</a></p>

    <div class="e-content | flow">
      {{ content | safe }}
    </div>

    {% include 'partials/backlinks.njk' %}
    {% include 'partials/entry-footer.njk' %}
    {% include 'partials/hidden-author.njk' %}
  </article>
</div>

{%- css "local" -%}
  {%- include 'css/post.css' -%}
  {%- include 'css/footnotes.css' -%}
{%- endcss -%}
