---
permalink: /articles/feed.xml
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
{%- set feedCollection = collections.article -%}
{%- set feedTitle = "Articles" -%}
{%- set feedDescription = "Long-form posts." -%}
{%- set feedSelfUrl = "/articles/feed.xml" -%}
{%- include "feeds/atom-body.njk" -%}
