---
permalink: /likes/feed.json
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
{%- set feedCollection = collections.like -%}
{%- set feedTitle = "Likes" -%}
{%- set feedDescription = "Things I've liked elsewhere on the web." -%}
{%- set feedSelfUrl = "/likes/feed.json" -%}
{%- include "feeds/json-body.njk" -%}
