---
permalink: /replies/feed.json
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
{%- set feedCollection = collections.reply -%}
{%- set feedTitle = "Replies" -%}
{%- set feedDescription = "Replies to other people on the web." -%}
{%- set feedSelfUrl = "/replies/feed.json" -%}
{%- include "feeds/link-json-body.njk" -%}
