---
permalink: /rsvps/feed.json
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
{%- set feedCollection = collections.rsvp -%}
{%- set feedTitle = "RSVPs" -%}
{%- set feedDescription = "Events I have responded to." -%}
{%- set feedSelfUrl = "/rsvps/feed.json" -%}
{%- include "feeds/link-json-body.njk" -%}
