---
layout: base
title: Activities
description: 'A log of my activities.'
permalink: 'activities/index.html'
---

{# No hero, no intro: the map is the first thing on the page. See partials/place-map-activities.njk. #}
<div class="[ wrapper ] [ region ]">
  <h1 class="visually-hidden">{{ title }}</h1>
  {% include "partials/place-map-activities.njk" %}
</div>

{% css "local" %}
  {% include 'css/place-map.css' %}
  {% include 'css/place-map-overlay.css' %}
  {% include 'css/place-map-places.css' %}
  {% include 'css/sortable-table.css' %}
{% endcss %}
