---
layout: base
title: Activities
description: 'A log of my activities.'
permalink: 'activities/index.html'
---

{% set archiveDescription %}
  Running, orienteering and other physical activities. Newest first.
{% endset %}

{# The map + full activity index replaces the card grid entirely: one page, every activity, no pagination. See partials/place-map-activities.njk. #}
{% set archiveBody %}
  {% include "partials/place-map-activities.njk" %}
{% endset %}

{% include "partials/archive-listing.njk" %}

{% css "local" %}
  {% include 'css/place-map.css' %}
{% endcss %}
