---
layout: base
title: Audio
description: Audio I've published.
pagination:
  data: collections.audio
  size: 10
  generatePageOnEmptyData: true
permalink: 'audio/{% if pagination.pageNumber >=1 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html'
---

{% set archiveDescription %}
  Audio I've published, newest first.<br>
  Pagination kicks in once there are more than {{ pagination.size }} entries ({{ collections.audio.length }} so far).
{% endset %}

{% set cardPartial = "card-audio.njk" %}
{% set masonryLayout = "50-50" %}
{% set collectionToPaginate = collections.audio %}
{% set paginationMetaKey = "blog" %}

{% include "partials/archive-listing.njk" %}
