---
layout: pageIndex
permalink: /index.html
title: 'Johan Edlund'
description: 'Personal website.'
sizes: '(max-width: 615px) 50vw, 100vw'
widths: [400, 520]
blog:
  title: 'Blog'
  intro: "I'm showing the last 4 blog posts, but there might be more!"
---

<p class="intro | text-step-1">
  I design and build for the web from Malmö, Sweden. This is my corner of the internet: notes about <a href="https://github.com/tolstoylife" rel="noopener">Leo Tolstoy</a>, orienteering, what I'm reading, watching and jammin' to. Say double <span lang="sv">hej</span> at <a href="mailto:hello@johanedlund.se">hello@johanedlund.se</a>.
</p>

