---
layout: page
permalink: /index.html
title: "Hej! I'm Johan."
description: 'Personal website of Johan Edlund.'
sizes: '(max-width: 615px) 50vw, 100vw'
widths: [400, 520]
blog:
  title: 'Blog'
  intro: "I'm showing the last 4 blog posts, but there might be more!"
---

<p>
  Honestly, I made this starter for myself, based on how I want to start a project and how I like to organize everything. I am delighted that so many of you find it useful too! This is a list of sites based on / built with Eleventy Excellent. This uses Eleventy's <a href="https://www.11ty.dev/docs/services/screenshots/">screenshot API </a>. New screenshots are fetched in development only.
</p>

<article class="full section" style="--spot-color: var(--color-bg-accent)">
  {% svg "divider/soft-top", null, "divider" %}

  <section class="feature section__inner wrapper">
      <div class="feature | region region-space-l">
        <custom-masonry>
          {% set itemList = collections.allArticles %}
					{% asyncEach item in itemList.slice(0, 10) %}
            {% set headingLevel = "h3" %}
						{% include "partials/card-blog.njk" %}
					{% endeach %}
        </custom-masonry>
      </div>
    </div>
  </section>
</article>

