---
layout: pageIndex
permalink: /index.html
title: 'Johan Edlund'
description: 'Personal website.'
sizes: '(max-width: 615px) 50vw, 100vw'
widths: [400, 520]
blog:
  title: 'Blog'
  intro: "I'm showing the last 4 blog posts, but there might be more!"
---

<p class="intro text-step-1">
  I design and build for the web from Malmö, Sweden. This is my corner of the internet: notes about <a href="https://github.com/tolstoylife/tolstoy.life" rel="noopener">Leo Tolstoy</a>, orienteering, what I'm reading, watching and listening to. Say hej at <a href="mailto:hello@johanedlund.se">hello@johanedlund.se</a>.
</p>



<div class="region feature">
<custom-masonry>
   <div style="background-color: var(--color-accent-orange); aspect-ratio: 3/2;"></div>
    <div></div>
    <div style="background-color: var(--color-accent-green); aspect-ratio: 4/5;"></div>
    <div style="background-color: var(--color-accent-orange);"></div>
    <div></div>
    <div style="background-color: var(--color-accent-blue); aspect-ratio: 5/4;"></div>
    <div></div>
    <div style="background-color: var(--color-accent-blue);"></div>
    <div style="background-color: var(--color-accent-orange); aspect-ratio: 16/9;"></div>
    <div></div>
    <div style="background-color: var(--color-accent-orange); aspect-ratio: 3/2;"></div>
    <div></div>
    <div style="background-color: var(--color-accent-green); aspect-ratio: 4/5;"></div>
    <div style="background-color: var(--color-accent-orange);"></div>
    <div></div>
    <div style="background-color: var(--color-accent-blue); aspect-ratio: 5/4;"></div>
    <div></div>
    <div style="background-color: var(--color-accent-blue);"></div>
    <div style="background-color: var(--color-accent-orange); aspect-ratio: 16/9;"></div>
    <div></div>
</custom-masonry>
</div>


<style>
  custom-masonry div {
    inline-size: min(30rem, 100%);
    aspect-ratio: 1;
    background-color: var(--color-text);
  }
</style>

