---
layout: base
title: Jams
description: The music, and other sounds, I'm listening to right now.
pagination:
  data: collections.jam
  size: 3
permalink: 'jams/{% if pagination.pageNumber >=1 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html'
---

{% set archiveDescription %}
  This page has a pagination of <strong>{{ pagination.size }}</strong> entries per page.<br>
  The pagination is only shown if there are more entries ({{ collections.jam.length }}) than items per page ({{ pagination.size }}).
{% endset %}

{% set cardPartial = "card-blog.njk" %}
{% set masonryLayout = "50-50" %}
{% set collectionToPaginate = collections.jam %}
{% set paginationMetaKey = "blog" %}

{% include "partials/archive-listing.njk" %}
