---
layout: base
title: Notes
description: 'All notes can be found here'
pagination:
  data: collections.note
  size: 10
permalink: 'notes/{% if pagination.pageNumber >=1 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html'
---

{% set cardPartial = "card-note.njk" %}
{% set masonryLayout = "33-33-33" %}
{% set collectionToPaginate = collections.note %}
{% set paginationMetaKey = "blog" %}

{% include "partials/archive-listing.njk" %}
