---
layout: base
title: Reading
description: 'All books can be found here'
pagination:
  data: collections.reading
  size: 10
permalink: 'reading/{% if pagination.pageNumber >=1 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html'
---

{% set cardPartial = "card-reading.njk" %}
{% set masonryLayout = "33-33-33" %}
{% set collectionToPaginate = collections.reading %}
{% set paginationMetaKey = "blog" %}

{% include "partials/archive-listing.njk" %}
