---
layout: base
title: Replies
description: 'Replies to other people on the web.'
pagination:
  data: collections.reply
  size: 10
permalink: 'replies/{% if pagination.pageNumber >=1 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html'
---

{% set archiveDescription %}
  This page has a pagination of <strong>{{ pagination.size }}</strong> replies per page.<br>
  The pagination is only shown if there are more replies ({{ collections.reply.length }}) than items per page ({{ pagination.size }}).
{% endset %}

{% set cardPartial = "card-response.njk" %}
{% set masonryLayout = "50-50" %}
{% set collectionToPaginate = collections.reply %}
{% set paginationMetaKey = "blog" %}

{% include "partials/archive-listing.njk" %}
