---
layout: base
title: RSVPs
description: 'Events I have responded to.'
pagination:
  data: collections.rsvp
  size: 10
permalink: 'rsvps/{% if pagination.pageNumber >=1 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html'
---

{% set archiveDescription %}
  This page has a pagination of <strong>{{ pagination.size }}</strong> RSVPs per page.<br>
  The pagination is only shown if there are more RSVPs ({{ collections.rsvp.length }}) than items per page ({{ pagination.size }}).
{% endset %}

{% set cardPartial = "card-response.njk" %}
{% set masonryLayout = "50-50" %}
{% set collectionToPaginate = collections.rsvp %}
{% set paginationMetaKey = "blog" %}

{% include "partials/archive-listing.njk" %}
