---
layout: base
title: Watching
description: Films and shows I've watched recently.
pagination:
  data: collections.watching
  size: 20
permalink: 'watching/{% if pagination.pageNumber >=1 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html'
---


{% set archiveDescription %}
  Films and series I've watched. Newest first.
{% endset %}

{% set cardPartial = "card-watching.njk" %}
{% set masonryLayout = "33-33-33" %}
{% set collectionToPaginate = collections.watching %}
{% set paginationMetaKey = "blog" %}

{% include "partials/archive-listing.njk" %}
