{% if backlinks.length > 0 %}
    <nav class="backlinks" aria-labelledby="backlinks-heading">
        <h2 id="backlinks-heading">Backlinks</h2>
        <ul>
            {% for link in backlinks %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    {% css "local" %}
      {% include "css/backlinks.css" %}
    {% endcss %}
{% endif %}
